{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.0/mercadolibre/favicon.svg">  
    <link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Retiros</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
        <div class="fondo"></div>
        <section>
            {%if base%}
            <form action="/RegistrarUbicacion/{{meli}}/{{base}}" method="POST" >
                <h2> Retiro</h2>
                    <h2>Tipo de Tarea : {{base}}</h2>
                    <label for="Ubicacion">Ubicacion</label>
                    <input type="text" name="Ubicacion" placeholder="Escane una Ubicacion">
                <input type="submit" class="btn" name="enviar" value="enviar" >
            </form>
            {%else%}
            <form action="/ubicacion" method="POST" >
                <h2> Retiro</h2>
                    <label for="meli">Meli</label>
                    <input type="text" name="meli" placeholder="escanea meli">
                <input type="submit" class="btn" name="enviar" value="enviar" >
            </form>
            {%endif%}
        </section>
{% endblock %}